<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333867839787-7d8jkfeu2ft2cjibsulvok1i891gcad8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333867839787-7d8jkfeu2ft2cjibsulvok1i891gcad8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>333867839787-glod9om1klonuodpetno5j9j2avsg383.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDFBO8e-Mc7EU31pXTy83b2tdKTzrZvkpo</string>
	<key>GCM_SENDER_ID</key>
	<string>333867839787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartDrip</string>
	<key>PROJECT_ID</key>
	<string>smartdrip-6b1b4</string>
	<key>STORAGE_BUCKET</key>
	<string>smartdrip-6b1b4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333867839787:ios:2881c143ca181e0169d56e</string>
	<key>DATABASE_URL</key>
	<string>https://smartdrip-6b1b4-default-rtdb.firebaseio.com</string>
</dict>
</plist>